powerplat/source/Workflows/ProcessJSONintoDVkey-valuerecords-A4DDEE96-A4DF-EE11-904D-000D3A578542.json
{
  "properties": {
    "connectionReferences": {
      "shared_azureblob": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mscw_sharedazureblob_286c7"
        },
        "api": {
          "name": "shared_azureblob"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mscw_sharedcommondataserviceforapps_b96c2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_blob_is_added_or_modified_(properties_only)_(V2)": {
          "recurrence": {
            "frequency": "Minute",
            "interval": 1
          },
          "splitOn": "@triggerOutputs()?['body']",
          "metadata": {
            "JTJmZG9jcw==": "/docs",
            "operationMetadataId": "b7d5c025-51bb-468b-9937-95a0c79264ed",
            "JTJmb3V0cHV0cw==": "/outputs"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "AccountNameFromSettings",
              "folderId": "JTJmb3V0cHV0cw==",
              "maxFileCount": 10
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob",
              "operationId": "OnUpdatedFiles_V2",
              "connectionName": "shared_azureblob"
            }
          }
        }
      },
      "actions": {
        "Get_blob_content_(V2)": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "161f1bbb-9f33-4eb3-bb83-7bb14690d275"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "AccountNameFromSettings",
              "id": "@triggerOutputs()?['body/Path']",
              "inferContentType": true
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob",
              "operationId": "GetFileContent_V2",
              "connectionName": "shared_azureblob"
            }
          }
        },
        "Content_to_JSON": {
          "runAfter": {
            "Set_Properties": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8eda7aba-fdaf-4cd0-be76-2bdb93a40bdf"
          },
          "type": "Compose",
          "inputs": "@base64ToString(base64(body('Get_blob_content_(V2)')))"
        },
        "Set_Properties": {
          "runAfter": {
            "Get_blob_content_(V2)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2b929e05-c8eb-4c0a-b91f-29c9c3ca85e5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Properties",
                "type": "array",
                "value": [
                  "is_conclusive_and_significant",
                  "languages_0_language",
                  "languages_0_probability",
                  "classification",
                  "mode_entities_duration",
                  "mode_entities_species_0",
                  "mode_entities_species_1",
                  "mode_entities_species_2",
                  "mode_entities_species_3",
                  "mode_entities_drug_or_compound",
                  "mode_entities_route_of_administration",
                  "mode_entities_internal_study_number",
                  "mode_entities_external_study_number",
                  "mode_entities_test_facility",
                  "mode_entities_stakeholders_0",
                  "has_handwriting"
                ]
              }
            ]
          }
        },
        "Create_Request": {
          "runAfter": {
            "Content_to_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eeea08a3-68f1-4383-b640-8f61fe363171"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "mscw_archiverequests",
              "item/mscw_name": "Request @{utcNow()}",
              "item/mscw_blobname": "@triggerOutputs()?['body/Path']",
              "item/mscw_extractionjson": "@{outputs('Content_to_JSON')}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "Record_each_key-value_pair": {
          "foreach": "@variables('Properties')",
          "actions": {
            "key": {
              "metadata": {
                "operationMetadataId": "1b21b825-9fb3-4cb5-b2ec-91bb34351c68"
              },
              "type": "Compose",
              "inputs": "@items('Record_each_key-value_pair')"
            },
            "Add_a_new_extracted_entity_key-value_pair": {
              "runAfter": {
                "key": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "75e59220-843c-4456-9fd4-43d27dca8291"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "mscw_extractedentities",
                  "item/mscw_name": "@{outputs('key')}",
                  "item/mscw_ArchiveRequestId@odata.bind": "mscw_archiverequests\\@{outputs('Create_Request')?['body/mscw_archiverequestid']}",
                  "item/mscw_value": "@{json(outputs('Content_to_JSON'))?[outputs('key')]}"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {
            "Create_Request": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b1caebf4-8d5e-493a-ab6c-788c31b851c1"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}